<%- include('../partials/header')%>

<div class='container'>
  <% for (let cluck of clucks) {%>
         <div><%=  cluck.username%> </div>
        <% } %> 
</div>


<%- include('../partials/footer')%>


